.navbar,
nav {
    width: 100%;
    background-color: rgba(0, 78, 195, 0.788);
    margin: 0;
    overflow: hidden;
    display: block;
}

a.navbar-brand h2,
.navbar-toggle-border {
    color: #fff;
    opacity: .9;
}


/* nav button.navbar-toggler, */

nav form.navbar-right {
    /* list-style: none; */
    float: right;
    padding-top: 5px;
    /* padding-right: 10px; */
}

.navbar div ul {
    display: block;
}

.form-inline[class*="icon-search-custom"].input>input {
    padding-left: 2em !important;
    padding-right: 1em !important;
    opacity: 1;
}

.input>input nvarbar input.form-control.input-custom-search {
    /* color: red; */
}

i.fas.icon-search {
    /* border: 1px solid rebeccapurple; */
    /* margin-top: 25px; */
    position: absolute;
    /* line-height: 1; */
    text-align: center;
    /* top: 16%; */
    /* margin: 0em; */
    /* height: 100%; */
    width: 2em;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.nav.flex-column {
    width: 180px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    /* font-weight: 200; */
    background-color: rgba(0, 78, 195, 0.788);
    /* width: 24%; */
    height: 100%;
    color: #e1ffff;
    /* opacity: 1; */
}

.nav.flex-column ul,
.nav.flex-column li {
    list-style: none;
    padding: 20px 0px 15px;
    margin: 0px;
    line-height: 20px;
    border: none;
    opacity: .9;
    text-align: center;
    /* cursor: pointer; */
}


/* .fa.fa-angle-right {
    padding-top: 8px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    color: #ffffff;
} */


/* 
.nav.flex-column ul .sub-menu li,
.nav.flex-column li .sub-menu li {
    
    border: none;
    line-height: 20px;
    
    margin-left: 0px;
} */

.nav.flex-column ul li:hover,
.nav.flex-column li li:hover {
    /* background-color: #234868; */
    /* line-height: 15px; */
    /* border-bottom: 1px solid #111e30; */
    /* position: relative; */
    background-color: rgba(1, 53, 122, 0.486);
    border-left: 3px solid #00e1ff;
    /* cursor: pointer; */
    /* color: #fff; */
    opacity: 1;
}


/* 
.nav-side-menu ul .sub-menu li:hover,
.nav.flex-column li .sub-menu li:hover {
    border: none;
    margin-left: 0px;
    background-color: #111e30;
} */


/* .nav.flex-column li .sub-menu li:hover {
    background-color: #111e30;
} */

.nav.flex-column li {
    /* padding-left: 0px; */
    /* border-left: 3px solid #234868; */
    /* border-bottom: 1px solid #d19b3d; */
}

.nav.flex-column ul {
    /* padding-left: 55px;
    padding-top: 5px;
    padding-bottom: 5px; */
    /* padding: 10px 20px 10px; */
}


/* .nav.flex-column ul li {
    
    padding: 1px 40px 1px;
} */

.nav.flex-column li a {
    text-decoration: none;
    color: #e1ffff;
    /* padding: 25px 0px 20px; */
    /* padding: 5px 0px 2px; */
}

.nav.flex-column ul i {
    /* padding: 20px 0px 5px; */
    display: block;
    text-align: center;
    /* margin: 0px 0px 0px; */
}


/* .nav.flex-column li:hover {
    border-left: 3px solid #d19b3d;
    
    background-color: #111e30;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
} */

@media screen and (max-width: 992px) {
    nav form.navbar-right {
        display: none;
    }
}


/* 
* {
    margin: 0;
}

header {
    height: 170px;
    color: #FFF;
    font-size: 20px;
    font-family: Sans-serif;
    background: #009688;
    padding-top: 30px;
    padding-left: 50px;
} */


/* 
.contenedor {
    width: 90px;
    height: 240px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.botonF1 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #F44336;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
}

span {
    transition: .5s;
}

.botonF1:hover span {
    transform: rotate(360deg);
}

.botonF1:active {
    transform: scale(1.1);
}

.btn5 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 28px;
    outline: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 26px;
    transform: scale(0);
}

.botonF2 {
    background: #2196F3;
    margin-bottom: 85px;
    transition: 0.5s;
}

.botonF3 {
    background: #673AB7;
    margin-bottom: 130px;
    transition: 0.7s;
}

.botonF4 {
    background: #009688;
    margin-bottom: 175px;
    transition: 0.9s;
}

.botonF5 {
    background: #FF5722;
    margin-bottom: 220px;
    transition: 0.99s;
}

.animacionVer {
    transform: scale(1);
} */

.menu-custom-row {
    margin-left: 200px;
}

div.container-custom-menu {
    /* border: 1px solid red; */
    /* width: 33%; */
    position: fixed;
    /* position: absolute; */
    top: 90px;
    margin: auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* right: 0px;
    bottom: 0px; */
    /* height: 250px; */
    width: 220px;
    cursor: pointer;
    text-align: center;
    transition: 1s;
    padding: 60px 0px 60px;
    display: block;
    /* transition: 5s; */
}

.menu-opcion1 {
    left: 220px;
    /* transition: 1s; */
    transform: scale(0.9);
}

.menu-opcion2 {
    left: 440px;
    transform: scale(0.9);
}

.menu-opcion3 {
    left: 660px;
    transform: scale(0.9);
}

.menu-opcion4 {
    left: 880px;
    transform: scale(0.9);
}

div.container-custom-menu:hover {
    transition: 0.3s;
    /* transform: scale(1); */
    transform: scale(1);
}

.div-custom-all {}