.navbar {
    width: 100%;
    background-color: #034680;
    margin: 0;
    overflow: hidden;
    display: block;
}



a.navbar-brand h2,
.navbar-toggle-border {
    color: #fff;
}

nav button.navbar-toggler,
nav form.navbar-right {
    /* list-style: none; */
    float: right;
    /* padding-right: 10px; */
}

.navbar-toggler.custom-toggler {
    border-color: #fff;
}

.navbar.custom-navbar {
    width: 200px;
    position: absolute;
    float: left;
    top: 67px;
}

.navbar div ul {
    display: block;
}


@media only screen and (max-width: 780px) {
    .navbar.custom-navbar {
        display: block;
        
    }
} 