$brand-body-color: rgba(168, 163, 163, 0.150)
$background-color-nav-bar: rgba(0, 78, 195, 0.788)
$brand-theme-color: #0275d8
$brand-green-color: green



body 
    background-color: $brand-body-color
    
// h4 
//     text-align: center
//     padding-bottom: 20px
//     color: $brand-theme-color


