$header-bg-color:#333
$border-color-header: rgba(114, 108, 108, 0.315)

#header
    top: 0
    position: fixed
    // padding: 8px
    width: 100%
    text-align: left
    // color: $brand-white-color
    background-color: $header-bg-color
    //background:  linear-gradient(to right, $brand-theme-color, #033866)
    border: 1px solid $border-color-header
    // z-index: 1

h2 
    color: #fff
    text-align: center
    margin: auto
    // font-size: 28px



    