$header-bg-color:#333
$border-color-header: rgba(114, 108, 108, 0.315)

#header
    top: 0
    position: fixed
    // padding: 8px
    width: 100%
    text-align: left
    // color: $brand-white-color
    background-color: $header-bg-color
    //background:  linear-gradient(to right, $brand-theme-color, #033866)
    border: 1px solid $border-color-header
    // z-index: 1

h2 
    color: #fff
    text-align: center
    margin: auto


.navbar-right 
    float: right
    margin: auto


.form-inline[class*="icon-search-custom"].input>input 
    padding-left: 2em !important
    padding-right: 1em !important
    opacity: 1


i.fas.icon-search 
    position: absolute
    text-align: center
    width: 2em
    opacity: 0.5
    cursor: pointer
    color: #0274d8


    