$header-bg-color:#0275d8
$brand-white-color: #fff
$border-color-header: rgba(114, 108, 108, 0.315)

#header
    position: fixed
    padding: 8px
    width: 100%
    text-align: center
    color: $brand-white-color
    background-color: $brand-white-color
    //background:  linear-gradient(to right, $brand-theme-color, #033866)
    border: 1px solid $border-color-header
    


    