.ppagepanel {
    top: 50px;
    width: 83%;
    background: #fff;
    z-index: 1;
    position: absolute;
    margin-left: 16%;
    /* padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px; */
    padding: 10px 10px 0px 5px;
    /* height: 85%; */
    display: block;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    /* border: 1px solid rebeccapurple; */
    /* , 0 3px 6px rgba(0, 0, 0, 0.23) */
}

.billing-form {
    background-color: rgb(225, 225, 226);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}


/* .fg-group { */


/* border: 1px solid rebeccapurple; */


/* position: relative; */


/* display: inline-block; */


/* } */

form h3 {
    padding-bottom: 15px;
}


/* .billing-form input {
    background-color: #fff;
} */

h1#detFacturacion {
    /* font-size: 35px; */
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    /* display: inline; */
    /* font-weight: bold; */
}

.product-header {
    border-bottom: 1px solid rgba(114, 108, 108, 0.315);
}

div.buylist {
    text-align: center;
    /* position: fixed; */
    /* width: 350px; */
    margin-top: 52px;
}

a:Link {
    text-decoration: none;
}


/* .pagination li {
    display: inline-block;
    padding: 5px;
} */

.icon-search{
    position:absolute;
    padding-right:100px;
}